#uniquepara{
    color:red;
}
.yellowpara{
    color: indigo;
}
.greenpara{
    color: green;
}
.pinkpara{
    color: brown;
}
.text{
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;  
}


